@model Product
@{
    ViewData["Title"] = "Details";
}

<script src="~/js/JavaScript.js"></script>

<img width="300" src=~/new/images/@Model.Images />
<br />

<p>@Model.Name</p>
<p>@Model.Brand</p>
<p>@Model.Condition</p>
<p>@Model.Price</p>